@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --shadow-color: #71717a;
}

body {
  font-family: var(--noto), Arial, Helvetica, sans-serif;
}

* {
  /* transition: all 0.25s cubic-bezier( 0.39, 0.575, 0.565, 1 ) !important;  */

  /* Stolen from Tailwind CSS :) */

  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
  transition-timing-function: var(--default-transition-timing-function);
  transition-duration: var(--default-transition-duration);
}

.text {
  color: hsl(var(--text));
}

.accent-text {
  color: hsl(var(--accent-color))
}

.muted {
  color: hsl(var(--text-40))
}

.faded {
  color: hsl(var(--text-20))
}

.group > div:nth-child(2) > div {
  padding: 6px 8px;
}

.group > div:nth-child(1) {
  padding: 6px 8px;
}

.group {
  padding-right: 4px !important;
  padding-left: 4px !important;
  padding-top: 4px !important;
}

@layer base {
  :root {
    --text: 240, 10%, 4%;
    --text-20: 240, 10%, 24%;
    --text-40: 240, 10%, 44%;
    --text-70: 240, 10%, 74%;
    --background: 240, 10%, 96%;
    --background-5: 240, 10%, 91%;
    --background-10: 240, 10%, 86%;
    --background-20: 240, 10%, 76%;
    --accent-color: 211, 71%, 47%;
    --buttons-primary: 211, 100%, 62%;
    --buttons-secondary: 211, 65%, 68%;

    --foreground: var(--text);
    --card: var(--background);
    --card-foreground: var(--test);
    --popover: var(--background);
    --popover-foreground: var(--text);
    --primary: var(--text);
    --primary-foreground: var(--background-5);
    --secondary: var(--background-10);
    --secondary-foreground: var(--text);
    --muted: var(--background-10);
    --muted-foreground: var(--text-40);
    --accent: var(--background-10);
    --accent-foreground: var(--text);
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: var(--text);
    --border: var(--background-10);
    --input: var(--background-10);
    --ring: var(--text-40);
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: var(--background-5);
    --sidebar-foreground: var(--text);
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: var(--text);
    --sidebar-accent: var(--background-10);
    --sidebar-accent-foreground: var(--text);
    --sidebar-border: var(--background-10);
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {

    --text: 240, 10%, 96%;
    --text-20: 240, 10%, 76%;
    --text-40: 240, 10%, 56%;
    --text-70: 240, 10%, 26%;
    --background: 240, 10%, 4%;
    --background-5: 240 10% 9%;
    --background-10: 240, 10%, 14%;
    --background-20: 240, 10%, 24%;
    --accent-color: 211, 100%, 38%;
    --buttons-primary: 210, 64%, 32%;
    --buttons-secondary: 211, 71%, 53%;

    --foreground: var(--text);
    --card: var(--background);
    --card-foreground: var(--test);
    --popover: var(--background);
    --popover-foreground: var(--text);
    --primary: var(--text);
    --primary-foreground: var(--background-5);
    --secondary: var(--background-10);
    --secondary-foreground: var(--text);
    --muted: var(--background-10);
    --muted-foreground: var(--text-40);
    --accent: var(--background-10);
    --accent-foreground: var(--text);
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: var(--text);
    --border: var(--background-10);
    --input: var(--background-10);
    --ring: var(--text-40);
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: var(--background-5);
    --sidebar-foreground: var(--text);
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: var(--text);
    --sidebar-accent: var(--background-10);
    --sidebar-accent-foreground: var(--text);
    --sidebar-border: var(--background-10);
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}